<a href="https://colab.research.google.com/github/RogenvanAmutan/CPE-103-OOP-1-A/blob/main/PYTHON_FUNDAMENTALS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [ ]:
if 5>2:
  print("Five is greater than two!")

five is greater than two!

Python Comments

In [ ]:
#This is a comment
print ("Hello World!")

Hello World!

Variable naming comventions

Python Variable

In [ ]:
z = 1
a,b = 0,-1
a,b,c = 0,-1,2

Casting

In [ ]:
b="sally" #this is a type of string
b= int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type () Function

In [ ]:
x=5
y="john"
print (type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single' Quotes

In [ ]:
y="john"
y='john'

john

Case Sensitive

In [ ]:
a=4
A="sally"
#A will not overwrite a

Multiple Variable

In [ ]:
x,y,z = "one","two","three"
print(x)
print(y)
print(z)

One value multiple variable

In [ ]:
x=y=z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [ ]:
x="enjoying"
print("python programming is " + x)

python programming is enjoying

Other way:

In [ ]:
x = "python is "
y = "enjoying"
z = x + y
print(z)

python is enjoying

Arithmetic Operation

In [ ]:
x = 8
y = 3
print(x**2) #Exponentiation
print(x/y) #Division
print(x//y) #Floor Division
print(x%y) #Modulo

64
2.6666666666666665
2
2

Assignment Operators

In [ ]:
x = 3
x*= 3 #x = x * 3
print (x)

9

Comparison Operators

In [ ]:
x = 5
y = 2

x>y

True

Logical Operator

In [ ]:
x = 5
x = 2

~x>y

False

Bitwise Operators

In [ ]:
#decimal to binary
#10 = 1010


x = 10
x>>3
print(x)

1

#Application 1

In [ ]:
#Application 1
#Area of rectangle

b = input() #length
h = input() #height

area = int(b) * int(h)
print (area)

3
6
18

In [ ]:

#Area of square


s = input() #side
s = input() #side

area = int(s) * int(s)
print(area)

2
3
9

In [ ]:
#Area of Parallelogram


b = input() #base
h = input() #height

area = int(b) * int(h)
print(area)

5
5
25